node_modules
**/*.js
**/*.json
**/*.css
**/*.svg
**/*.md
**/*.html
**/*.png
**/*.gif
**/*.txt
**/*.ico
**/*.test.jsx
coverage
6
build
reportWebVitals.ts
setupTests.ts
react-app-env.d.ts
**/avatar.tsx
.eslintrc.js